*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.DO_NOT_SYNC

app/google-services.json
firebase_setup
serviceAccountKey.json
*.jks
*.keystore
.env
.env.local
secrets.properties
